body { 
	/* Background pattern from Subtle Patterns */
	background-image: url("img/hexellence.png");
	font-size: 20px; 
	
} 

#container { 
	background-color: white; 
	width: 300px;
	padding: 50px; 
	margin-left: auto; 
	margin-right: auto; 
	margin-top: 100px;
	/*cień www.cssmatic.com/box-shadow :*/
	-webkit-box-shadow: 4px 4px 17px 1px rgba(204,204,204,0.9); /*safari, chrome, opera*/
	-moz-box-shadow: 4px 4px 17px 1px rgba(204,204,204,0.9); /*mozilla*/
	box-shadow: 4px 4px 17px 1px rgba(204,204,204,0.9); 
}



input[type=text],
input[type=password] { 
	width: 300px; 
	background-color: #efefef; 
	color: #666; /* input nie dziedziczy rozmiaru czcionki po body */
	border: 2px solid #ddd; 
	border-radius: 5px; /* zaokrąglenie bordera */
	font-size: 16px; 
	padding: 10px;
	box-sizing: border-box;
	outline: none; /*usunięcie domyślnej niebieskiej obwódki */
	/* ten input, który jest aktywny - */
	margin-top: 5px;
	margin-bottom: 5px;
}

/* ten input, który jest aktywny - */
input[type=text]:focus,
input[type=password]:focus { 
	/*cień www.cssmatic.com/box-shadow :*/
	-webkit-box-shadow: 0px /* przesunięcie poziome */ 0px /*przesunięcie pionowe */ 3px /*promień rozmazania*/ 1px /* rozrzut - spread */ rgba(204,204,204,0.9); /*safari, chrome, opera*/
	-moz-box-shadow: 0px 0px 3px 1px rgba(204,204,204,0.9); /*mozilla*/
	box-shadow: 0px 0px 3px 1px rgba(204,204,204,0.9); 
	border: 2px solid #a5cda5;
	background-color: #e9f3e9;
	color: #428c42;
}

input[type=submit]:focus {
	/*cień www.cssmatic.com/box-shadow :*/
	-webkit-box-shadow: 0px /* przesunięcie poziome */ 0px /*przesunięcie pionowe */ 20px /*promień rozmazania*/ 5px /* rozrzut - spread */ rgba(204,204,204,0.9); /*safari, chrome, opera*/
	-moz-box-shadow: 0px 0px 20px 5px rgba(204,204,204,0.9); /*mozilla*/
	box-shadow: 0px 0px 20px 5px rgba(204,204,204,0.9); 
	
}

input[type=submit] {
	width: 300px;
	background-color: #36b03c;
	font-size: 16px;
	color: white; 
	padding: 15px 10px; 
	margin-top: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer; 
	letter-spacing: 2px; /* rozstrzał liter */
	margin-top: 20px;
}

/* Webkit: chrome, opera, safari itp*/
input::-webkit-input-placeholder {
    color: #999; /*pole nieaktywne */
}

input:focus::-webkit-input-placeholder {
    color: #428C42; /*pole aktywne - słowo focus */
}


/* Firefox < 19 */
input:-moz-placeholder {
    color: #999;
}

input:focus:-moz-placeholder {
    color: #428C42;
}


/* Firefox > 19 */
input::-moz-placeholder {
    color: #999;
}
input:focus::-moz-placeholder {
    color: #428C42;
}


/* Internet Explorer 10 */
input:-ms-input-placeholder {
    color: #999;
}
input:focus:-ms-input-placeholder {
    color: #428C42;
}
